.datepicker {
  
  top: 50%;
  left: 50%;
  width: 270px;
  height: 160px;
  background-color: white;
  text-align: center;
  font-family: Calibri;  
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(94, 234, 6, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(94, 234, 6, 0.75);
  box-shadow: 0px 0px 10px 0px  rgba(94, 234, 6, 0.75);
  float: left;
}
.block {
  display: inline-block;
  border: 1px solid #aaa;
  width: 60px;
  height: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin: 5px 5px;

}
.middle {
  margin: 0px 5px;
  background-color: lightblue;
  -webkit-box-shadow: inset 0px 0px 5px 0px #808080;
  -moz-box-shadow: inset 0px 0px 5px 0px #808080;
  box-shadow: inset 0px 0px 5px 0px #808080;
}
.label {
  margin-top: 5px;
  margin-bottom: 10px;
  height: 25px;
  line-height: 25px;
  border-bottom: 2px solid green;  
  color: green;
  font-weight: bold;
  float: left;
  width: 100%;
}
.action {
  cursor: pointer;
}
.action-row {
  margin-top: 10px;
  border-top: 1px solid #aaa;
}
.action-row div{
  display: inline-block;
  width: 85px;
  height: 30px;  
  line-height: 30px;
  border-right: 1px solid #aaa;
}
.action-row div:last-child{
  border-right: none;
}


.timepicker {
  top: 50%;
  left: 50%;
  margin-left:400px;
  width: 270px;
  height: 160px;
  background-color: white;
  text-align: center;
  font-family: Calibri;  
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(94, 234, 6, 0.75)
  -moz-box-shadow: 0px 0px 10px 0px rgba(94, 234, 6, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(94, 234, 6, 0.75);
}
.block {
  display: inline-block;
  border: 1px solid #aaa;
  width: 60px;
  height: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin: 5px 5px;
}
.middle {
  margin: 0px 5px;
  background-color: #398439;
  -webkit-box-shadow: inset 0px 0px 5px 0px #808080;
  -moz-box-shadow: inset 0px 0px 5px 0px #808080;
  box-shadow: inset 0px 0px 5px 0px #808080;
}
.label {
  margin-top: 5px;
  margin-bottom: 10px;
  height: 25px;
  line-height: 25px;
  border-bottom: 2px solid green;  
  color: green;
  font-weight: bold;
  font-size: 12pt;
}
.action {
  cursor: pointer;
}
.action-row {
  margin-top: 10px;
  border-top: 1px solid #aaa;
}
.action-row div{
  display: inline-block;
  width: 85px;
  height: 30px;  
  line-height: 30px;
  border-right: 1px solid #aaa;
}
.action-row div:last-child{
  border-right: none;
}
.noborder {
  border: none;
}