

#menuPage {
	background-size: 1170px 552px; 
	height: 552px; 
	margin-top:75px;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
	animation:fade 1.5s linear 1s slidein;	/* total animation time for each image is 8 seconds, loops forever */
	animation-direction:normal;	
	/* Firefox */
	-moz-animation:fade 1.5s forwards;
	-moz-animation-direction:normal;		
	/* Safari, Chrome, and Webkit Opera */
	-webkit-animation:fade 1.5s forwards;
	-webkit-animation-direction:normal;	
	/* Presto Opera */
	-o-animation:fade 1.5s forwards;
	-o-animation-direction:normal;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.colorBlack{
	color: black !important; 
}

.sections {
	margin-left: 10%;
	height: 900px;
}
.images{
	height: 552px;
	width: 100%;
}

.div-left {
	float: left;
	width: 50%;
	height: 90%;
	margin-top: 8%
}

.div-right {
	float: right;
	width: 50%;
	height: 90%;
	margin-top: 8%
}

.menuImages {
	height: 75%;
	width: 90%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.navbar-nav > .navbar-center > a.active {
	font-size: 25px;
	background-color: transparent;
	color: green;
}

.input {
	border-left: none;
	border-right: none;
	border-bottom: ridge;
	border-top: none;
	background-color: #f6f6f6;
	margin-top: 10%;
	width: 100%;
	margin-right: 1%; 
	float:left;"
}

#AboutPage {
	position: relative;
	background-color: black; 
	background: url(../img/BridgeAbout.jpg) no-repeat;
	background-size: 100% 100%; 
	height: 622px; 
	margin-top:50px;
}

#backContact{
	height: 100%;
}

#social-media {
    float: left;
    width: 270px;
    height: 40px;
    padding: 0;
    margin: 20px auto 67px 70px;
    list-style: none;
    text-align: center;
}

#social-media li {
    float: left;
    display: inline;
    margin: 0 4px;
}

#social-media li a {
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 50%;
    border: 1px solid #FFF;
}

#social-media li a:hover {
    border: 1px solid #194275;
}

#facebook {
    background: transparent url(../img/facebook.svg) no-repeat;
    background-position: 6px;
}

#facebook:hover {
    background: transparent url(../img/facebook-hover.svg) no-repeat;
    background-position: 6px;
}

#twitter {
    background: transparent url(../img/twitter-circular-button.svg) no-repeat;
    background-position: -2px; 
}

#twitter:hover {
    background: transparent url(../img/twitter-circular-button1.svg) no-repeat;
    background-position: -2px;
}
#instagram {
    background: transparent url(../img/instagram-logo.svg) no-repeat;
    background-position: 6px;
}

#instagram:hover {
    background: transparent url(../img/instagram.svg) no-repeat;
    background-position: 6px; 
}
#network {
    background: transparent url(../img/domain.svg) no-repeat;
    background-position: 6px;
}

#social-media > li > #network:hover {
    border: 1px solid #91DC5A;
}

#network:hover {
    background: transparent url(../img/domain1.svg) no-repeat;
    background-position: 6px; 
}


.butn {
	margin-top: 20px;
	margin-left: 250px;
}

.disable {
pointer-events: none;
cursor: default;
}



div.clear
{
    clear: both;
}

div.product-chooser{
    
}

    div.product-chooser.disabled div.product-chooser-item
	{
		zoom: 1;
		filter: alpha(opacity=60);
		opacity: 0.6;
		cursor: default;
	}

	div.product-chooser div.product-chooser-item{
		padding: 11px;
		border-radius: 6px;
		cursor: pointer;
		position: relative;
		margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10x;
	}
	
	div.product-chooser div.product-chooser-item.selected{
		border: 4px solid #5cb85c;
		background: #efefef;
		padding: 8px;
		filter: alpha(opacity=100);
		opacity: 1;
	}
	
		div.product-chooser div.product-chooser-item img{
			padding: 0;
		}
		
		div.product-chooser div.product-chooser-item span.title{
			display: block;
			margin: 10px 0 5px 0;
			font-weight: bold;
			font-size: 12px;
		}
		
		div.product-chooser div.product-chooser-item span.description{
			font-size: 12px;
		}
		
		div.product-chooser div.product-chooser-item input{
			position: absolute;
			left: 0;
			top: 0;
			visibility:hidden;
		}



