.navbar-nav-left{
	margin-right:21%;
}

.navbar-nav-right{
	margin-left: 0%;
}

.white-background{
	background-color: white;
}

/*.homeContent{
	margin-left:100px;
}*/

.BridgeLogo{
	background: url(../img/BridgeLogo.jpg);
	opacity: 0;
    position: absolute;
	margin-left: 300px;
	height: 20%; 
	width: 50%;
}

#homePage {
	position: relative;
	background: url(../img/i1.jpg); 
	background-size: 100% 100%; 
	height: 622px; 
	margin-top:50px;
}

#B{
	height: 300px;
	width: 300px;
	position:absolute;
	top: -75%; /* Set initial position for each image off-screen left -- adjust according to image width */
	left: 38%;

	/* start each image's animation 2 seconds after the previous */
	animation:mymove 1s linear 1s slidein;	/* total animation time for each image is 8 seconds, loops forever */
	animation-direction:normal;	
	/* Firefox */
	-moz-animation:mymove 1s forwards;
	-moz-animation-direction:normal;		
	/* Safari, Chrome, and Webkit Opera */
	-webkit-animation:mymove 1s forwards;
	-webkit-animation-direction:normal;	
	/* Presto Opera */
	-o-animation:mymove 1s forwards;
	-o-animation-direction:normal;
}

#B{
	animation-delay:1s;
	-webkit-animation-delay: 1s;
}
	
/* Animation start and stop points */
@keyframes mymove
	{
	from {top:-50%;}	/*off-screen left (adjust for image width)*/
	to {top:25%;}		/*off-screen right*/
	}

@-moz-keyframes mymove /* Firefox */
	{
	from {top:-50%;}
	to {top:25%;}
	}

@-webkit-keyframes mymove /* Safari, Chrome, and Webkit Opera */
	{
	from {top:-50%;}
	to {top:25%;}
	}

@-o-keyframes mymove /* Presto Opera */
	{
	from {top:-50%;}
	to {top:25%;}
	}


.caption {
	text-align: center;
    /* position: relative; */
    padding-top: 550px;
    font-style: italic;
    font-weight: 900;
    color: white;
    font-size: 21pt;
    width: 55%;
    margin: 0 auto;
    background: transparent;
    opacity: 1px;

}

.AvailablityBack {
	background:url(../img/layout.svg) no-repeat;
	width: 100%; height: 800px;  
}


.mar {
	margin-left: 11px;
}

.marT {
	margin-top: 10px;
}

.borderShadow {
	box-shadow: rgb(78, 73, 73) 0px 0px 3px 0px;
	background-color:rgba(255, 255, 255, 0.8);
}

.down{
	margin-top: 40px;

}

.loginLogo{
	height: 100px; 
	width: 100px;
}


.loginRegisterBack{
	background:url(../img/bridge.jpg) no-repeat;
	position: relative; 
	background-size: 100% 100%; 
	height: 622px; 
	margin-top:50px;
	top: 0px;
}

.Smoke{
	 transform: rotate(270deg);
	 z-index: 10;
} 